Checks: >
  bugprone-*,
  performance-*,
  portability-*,
  readability-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers

WarningsAsErrors: ''

HeaderFilterRegex: 'src/.*'
